<h2>Form html</h2>

<form action="/submit" method="post">
    <label for="science">Science</label><br/>
    <input type="text" id="science" name="science"><br/><br/>
    <label for="math">Math</label><br/>
    <input type="text" id="math" name="math"><br/><br/>
    <label for="english">English</label><br/>
    <input type="text" id="english" name="english"><br/><br/>
    <label for="data_science">Data Science</label><br/>
    <input type="text" id="data_science" name="data_science"><br/><br/>
    <button type="submit" value="submit">Submit</button>

</form>

<p>if you click submit, the form will be submitted and data will be sent to /submit </p>